*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-padding-top: 12rem;
    scroll-behavior: smooth;
}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;

}

header{
    background-color: #006414;  
    position: fixed;
    width: 100%;
    z-index: 10;

}

.header-container{
    max-width: 120rem;
    margin-inline: auto;
    text-align: center;
    padding-block: 2rem;
    color: rgb(255, 255, 255);
    

    h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 6rem;
        justify-content: center;
        font-size: 1.2rem;
    }


    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    li:hover{
        transform: scale(1.1);
        font-weight: 700;
        transition: .4s;
    }

}

main{
    background-color: #ffffb6;
    min-height: calc(100svh - 10.8rem);
    
}

.main-container{
    padding-block: 12rem;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    

    h2{
        margin-bottom: 2rem;
    }

    p{
        max-width: 60rem;
        margin-inline: auto;
        line-height: 2.5rem;
    }

    section{
        margin-bottom: 4rem;
        
        div{
            width: 6rem;
            height: 6rem;
            background-color: #98ff96;
            margin-inline: auto;
            margin-bottom: 1.5rem;
        }

        .blue{
            background-color: #003400;
        }
    
    }

    mark{
        background-color: #009929;
    }
}

#relative{
    .blue{
       position: relative;
       top: -3rem; 
       left: 5rem;
    }
}

#absolute{
    .blue{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}

#arrow{
    background-color: #00356b;
    width: fit-content;
    padding: 1.3rem;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
